body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.content{
    display: flex;
    justify-content: center;
    
}
.b1{
background-color: red;
}
.b2{
    background-color: green;
}
.b3{
    background-color: yellow;
}
.b4{
    background-color: blue;
}
.flash{
    background-color: white;
}